VITE_TIMEZONE_KEY = AO4UQ7ZRHVJ
VITE_LEAFLET_PROVIDER_KEY = 32d8365b
VITE_MAPBOX_KEY = pk.eyJ1Ijoib2tpZW1lc28yMDE1IiwiYSI6ImNtYnB4MWdzNTA5d2oyaXB3Nm5xYmVtemoifQ.8w9IxcfnjgAHrwmiyRjndgVITE_OPENWEATHER_KEY = REPLACEMEWITHYOURKEYHERE
VITE_PULL_KEY = 3mnxr4jj5fm0da2i
VITE_STREAMELEMENTS_KEY = REPLACEMEWITHYOURKEYHERE
